EmpaticaData/.DS_Store
.DS_Store
LateralizationPhysiologicalWearables-dev
log_data_a3.pkl
log_data_a4.pkl
log_data_windows_a3.pkl
log_data_windows_a4.pkl
empatica_data_a3.pkl
empatica_data_a4.pkl
~$*.xlsx
code_snapshots_a3
code_snapshots_a3_unclipped
code_snapshots_a3_unclipped_from_scratch
code_snapshots_a4
code_snapshots_a4_unclipped
code_snapshots_a4_unclipped_from_scratch
TempPklFiles
a3_files_to_copy
a4_files_to_copy
.env
archive